<div class="md-toolbar-tools">


  <md-button ><img ng-src="app/resources/icon.png" style="width:100px; padding-top:10px"></md-button>
  <div class="menu" layout="row" >
    <md-button ui-sref="#">About me</md-button>
    <md-button ui-sref="#">Skills</md-button>
    <md-button ui-sref="#">Contact</md-button>
    <md-button ui-sref="#">Plus</md-button>

  </div>

</div>
